*{
    padding: 0;
    margin: 0;
    font-family: Saira;
    background: #f3f0eb;
    
}
.container{
    max-width: 1300px;

}
a{
    text-decoration: none;
    color: #333333;
}
/* pre header */

.prehader{
    border-bottom: 0.5px solid #adadad;
    padding: 5px;
}
.prehader-text{}
.prehader span {
	font-size: 14px;
	font-weight: 400;
}
.prehader-icon{
    text-align: right;
}
.prehader a{
    padding: 0px 10px;
}

/* main header */

.main-hader{}
.main-hader ul{ 
    list-style: none;
}
.main-hader ul li {
	display: inline-block;
}
.main-hader ul li a {
	line-height: 75px;
	font-size: 20px;
	padding: 6px;
}


.hader-img {
	text-align: center;
}
.hader-img img {
	width: 190px;
}

.hader-user {
	text-align: right;
}
.hader-user a {
	padding: 10px;
	line-height: 82px;
	font-size: 20px;
}

.hader-bottom {
	width: 100%;
	height: 30px;
	background: #333;
	text-align: center;
}
.hader-bottom h2 {
	font-size: 15px;
	background: none;
	color: #cebe84;
	line-height: 30px;
    font-weight: 300;
}
.hader-bottom h2 span{
    background: none;
	color: #cebe84;
    font-weight: 500;
}


.baner-section{
    text-align: center;
}
.baner-text{
    width: 800px;
    margin: auto;
}
.baner-text h1 {
	font-size: 38px;
	word-spacing: 5.5px;
	font-weight: 400;
	margin-bottom: 7px;
}
.baner-text p{


}
.line{
    width: 100px;
    height: 2px;
    background: #cebe84;
    margin: auto;
}

.baner-img{
    width: 100%;
    padding: 30px 0px;
}
.baner-img img{
    max-width: 100%;
}

.baner-text-2{}
.baner-text-2 h2 {
	width: 165px;
	font-weight: 400;
	margin: auto;
	margin-top: 68px;
}
.baner-text-2 p {
	display: block;
	width: 500px;
	text-align: left;
	font-size: 16px;
}

/* glary-section */

.glary-section{
    padding: 50px 0px;
}
.glary-img{ 
    width: 49%;
    margin: 10px 0px;
}
.glary-img img{
    max-width: 100%;
}
.glary-text{
    background: #333333;
}
.glary-text h2 {
	margin: 95px 0px 0px 0px;
	background: transparent;
	color: #c6b481;
}
.glary-text h4{
    background: transparent;
	color: #c6b481;
} 
.glary-text p {
	background: transparent;
	color: #fff;
	width: 520px;
	font-size: 15px;
}


.offer-section{
    width: 100%;
    height: 250px;
    background: #333;
    text-align: center;
    margin-top: 80px;
}

.offer-section h1 {
	display: inline-block;
	padding: 72px 0px;
	background: none;
	color: #c0b481;
	width: 785px;
}
/* product-section */

.product-section{ 
    text-align: center;
    background: #fff !important;
    padding: 80px 0px;
    
}
.product-titel{
    background: #fff;
}
.product-titel h1 {
	font-size: 26px;
	font-weight: 400;
	background: #fff;
}
.product-titel .line{}


.product{}
.product-img{
    width: 100%;
}
.product-img h1 {
	font-weight: 400;
	font-size: 20px;
}
.product-img h2 {
	font-size: 17px;
}

.product-img img{
    max-width: 100%;
    max-height: 100%;
}
.color{
background: #fff !important;
}
.pad{
    padding: 20px 0px;
}

/* colose */